
body{
    background-color:darkgray;
    position: relative;
}

.heading{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
}

.container{
    margin: 0 auto;
    top: 20px;
    margin-top: 50px;
    position: relative;
}

.calculator{
    margin: 0 auto;
    width: 320px;
    height: 620px;
    background-color: #eaedefb4;
    border-radius: 15px;
}
#output{
    height: 120px;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}


#result{
    height: 120px;
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard{
    height: 480px;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-width: bold;
    font-size: 15px;
    font-family: cursive;
}

.number , .empty{
    background-color: #eaedef;
}

.number, .operator{
    cursor:pointer;
}



#arcsinx , #arccosx, #sinx, #cosx{
    font-size: 10px;
    padding : 0;
}


.empty{
    opacity: 0;
}



.operator {
    border-radius:15%;
}

#sinx,#sqrt{
    border-color: lightblue;
}

#\*{
    border-color: red;
}

#\={
    border-color: tomato;
}

#\-{
    border-color: aqua;
}

#\+{
    border-color: pink;
}

#cosx,#square{
    border-color: seagreen;
}


#cosx:hover,#square:hover{
    background-color: seagreen;
}

#sinx:hover,#sqrt:hover{
    background-color: lightblue;
}

#\+:hover{
    background-color: pink;
}

#\*:hover{
    background-color: red;
}

#\=:hover{
    background-color: tomato;
}

#\-:hover{
    background-color: aqua;
}


hr.rule{
    border-color:black;
    border-radius: 40%;
}


.footer{
    margin-top: 50px;
    font-weight: bold;

}
