
body{
    background-color: lightblue;
}
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: auto;
    margin-top: 100px;
    width: 500px;
    color: darkblue;
}

.container h1{
    text-align: center;
    flex: 1;
    order: 1;
}
.container form{
    text-align: center;
    order: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


button{
    margin-top: 20px;
    padding: 5px;
    border-radius: 20%;
}

button:hover{
    margin-top: 20px;
    padding: 5px;
    border-radius: 20%;
    background-color: black;
    color: blue;
}



span{
    color:black;
}


.container input{
    margin-left: 25px;
}



.container p{
    margin-left: 50px;
}


button{
    margin-left: 80px;
}

.about{
    margin-top: 100px;
    margin-left: 100px;
    font-family: cursive;
}
